.headerContainer {
  border-bottom: 1px solid var(--gray-800);
  height: 5rem;
}

.headerContent {
  align-items: center;
  display: flex;
  height: 5rem;
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 2rem;

  button {
    margin-left: auto;
  }
}

.navigation {
  height: 5rem;
  margin-left: 5rem;

  a {
    color: var(--gray-300);
    display: inline-block;
    line-height: 5rem;
    height: 5rem;
    padding: 0 0.5rem;
    position: relative;
    transition: color .2s;

    & + a {
      margin-left: 2rem;
    }

    &:hover {
      color: var(--white);
    }

    &.active::after {
      background-color: var(--yellow-500);
      border-radius: 3px 3px 0 0;
      bottom: 1px;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 100%;;
    }
  }
}
